:root {
  --dark-black: #000000;
  --black: #222222;
  --pink-bkg: #F1E4E6;
  --pink: #F16D7F;
  --brown: #211616;
  --white: #FFFFFF;
  --light-grey: #F8F8F8;
  --grey: #9F9F9F;
  --light-red: #FF6A6A;
  --dark-grey: #5D5D5D;
  --grey-input: #E1E1E1;
  --subscribe-dark: #E05C6E;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Lato";
  font-style: normal;
  font-size: 14px;
  line-height: 16px;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

.header {
  background-color: var(--black);
}
.header__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 16px 0;
}
.header__logo {
  margin-right: 40px;
}
.header__link {
  margin-left: 33px;
}
.header__menu-btn, .header__link, .header__search-btn {
  border: 0;
  background-color: transparent;
  padding: 0;
  fill: var(--white);
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__menu-btn:hover, .header__link:hover, .header__search-btn:hover {
  fill: var(--pink);
}
.header__menu-btn:active, .header__link:active, .header__search-btn:active {
  fill: var(--subscribe-dark);
}
.header__nav {
  background: var(--white);
  display: none;
  position: absolute;
  right: 0;
  padding: 37px 34px;
  min-width: 232px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.header .display-block {
  display: block;
}
.header__menu-btn--pink {
  fill: var(--pink);
}
.header__nav-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  margin: 0 0 24px;
}
.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}
.nav-item__link {
  font-size: 14px;
  line-height: 17px;
  color: var(--pink);
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nav-item__sub-list {
  margin: 12px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}
.nav-item__sub-link {
  font-size: 14px;
  line-height: 17px;
  text-transform: capitalize;
  text-decoration: none;
  color: var(--grey);
  padding: 0 20px 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.nav-item__sub-link:hover {
  color: var(--dark-black);
}

.preview {
  background-color: var(--pink-bkg);
}
.preview__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.preview__img {
  width: 100%;
}
.preview__title-wrp {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.preview__title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  text-transform: uppercase;
  padding-left: 16px;
  border-left: var(--pink) 12px solid;
}
.preview__subtitle {
  font-weight: bold;
  font-size: 32px;
  line-height: 38px;
  display: block;
}
.preview__subtitle-pink {
  color: var(--pink);
}

.sales {
  padding: 65px 0 96px;
}
.sales__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
}
.sales__item {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding: 105px 0;
  opacity: 0.9;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.sales__item:last-child {
  padding: 64px 0;
}

.sales-item:hover {
  opacity: 1;
}
.sales-item__text {
  text-align: center;
  color: var(--white);
  text-transform: uppercase;
  font-size: 16px;
  line-height: 19px;
}
.sales-item__title {
  text-align: center;
  text-transform: uppercase;
  color: var(--pink);
  font-size: 24px;
  line-height: 29px;
}
.sales-item--women {
  background-image: url(../img/sale-women.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sales-item--men {
  background-image: url(../img/sale-men.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sales-item--kids {
  background-image: url(../img/sale-kids.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.sales-item--accesories {
  background-image: url(../img/sale-accesories.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.product {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 0 96px 0;
}
.product__title {
  font-size: 30px;
  line-height: 36px;
  text-transform: capitalize;
}
.product__text {
  font-size: 14px;
  line-height: 17px;
  color: var(--grey);
}
.product__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 30px;
  margin: 40px 0;
}
.product__item {
  background-color: var(--light-grey);
  max-width: 360px;
  position: relative;
}
.product__item:hover .product-item__overlay {
  display: block;
}
.product__link {
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  text-decoration: none;
  border: 1px solid var(--light-red);
  color: var(--pink);
  padding: 16px 40px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.product__link:hover {
  background-color: var(--pink);
  color: var(--white);
}

.product-item__img {
  width: 100%;
}
.product-item__overlay {
  min-width: 360px;
  min-height: 420px;
  background-color: var(--dark-grey);
  opacity: 86%;
  position: absolute;
  top: 0;
  display: none;
}
.product-item__wrp {
  padding: 20px 16px;
}
.product-item__title {
  font-size: 13px;
  line-height: 16px;
  text-transform: uppercase;
  color: var(--dark-black);
}
.product-item__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: var(--dark-grey);
  margin: 12px 0 18px;
}
.product-item__price {
  font-size: 16px;
  line-height: 19px;
  color: var(--pink);
}
.product-item__price::before {
  content: "$";
}

.product-item-overlay__btn {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 138px;
  height: 43px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: url(../img/card-cart.svg);
  background-position: left;
  background-repeat: no-repeat;
  border: 2px solid var(--white);
  padding: 14px 16px;
  font-weight: 400;
  line-height: 17px;
  text-align: end;
  color: var(--white);
  display: block;
}
.product-item-overlay__btn:hover {
  opacity: 75%;
}

.benefits {
  background-color: var(--black);
  padding: 104px 0;
}
.benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 32px;
}
.benefits__item {
  text-align: center;
}

.benefits-item__title {
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: var(--light-grey);
  text-transform: capitalize;
  padding: 19px 0 16px 0;
}
.benefits-item__text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: var(--light-grey);
}

.footer__content {
  background-image: url(../img/footer-bkg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  padding: 97px;
}
.footer__subscribe {
  text-align: center;
}
.footer-content__wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer-content__review {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-review__quote {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  max-width: 360px;
  padding: 30px 0 0 0;
}

.footer-subscribe__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 40px;
  text-transform: uppercase;
}
.footer-subscribe__text {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  padding: 0 0 32px;
}
.footer-subscribe__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.subscribe-form__input {
  background-color: var(--grey-input);
  border-radius: 40px 0 0 40px;
  border: transparent;
  text-transform: capitalize;
  padding: 16px 0 16px 22px;
  width: 100%;
}
.subscribe-form__btn {
  background-color: var(--pink);
  color: var(--white);
  border-radius: 0 40px 40px 0;
  border: transparent;
  text-transform: capitalize;
  padding: 16px 20px 16px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.subscribe-form__btn:hover, .subscribe-form__btn:active {
  background-color: var(--subscribe-dark);
}

.footer-social {
  background-color: var(--black);
  padding: 24px 0;
}
.footer-social__rights {
  font-size: 16px;
  line-height: 19px;
  color: var(--light-grey);
}
.footer-social__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
}
.footer-social__link {
  fill: var(--white);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.footer-social__link:hover, .footer-social__link:active {
  fill: var(--pink);
}

.footer-social-wrp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}