:root {
    --dark-black: #000000;
    --black: #222222;
    --pink-bkg: #F1E4E6;
    --pink: #F16D7F;
    --brown: #211616;
    --white: #FFFFFF;
    --light-grey: #F8F8F8;
    --grey: #9F9F9F;
    --light-red: #FF6A6A;
    --dark-grey: #5D5D5D;
    --grey-input: #E1E1E1;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Lato';
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.header__menu-btn,
.header__search-btn {
    border: 0;
    background-color: transparent;
    padding: 0;
}

/* HEADER */
.header {
    background-color: var(--black);
}

.header__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 16px 0;
}

.header__wrp-logo {}

.header__logo {
    margin-right: 40px;
}

.header__search-btn {}

.header__wrp-menu-links {}

.header__menu-btn {}

.header__link {
    margin-left: 33px;
}

.header__nav {
    display: none;
}

.header__nav-title {}

.header__nav-list {}

.header__nav-item {}

.nav-item {}

.nav-item__link {}

.nav-item__sub-list {}

.nav-item__sub-link {}
/* HEADER END */

/* PREVIEW */
.preview {
    background-color: var(--pink-bkg);
}

.preview__wrp {
    display: flex;
    align-items: center;
}

.preview__img {
    width: 100%;
}

.preview__title-wrp {
    width: 100%;
    display: flex;
    justify-content: center;
}

.preview__title {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;

    padding-left: 16px;
    border-left: var(--pink) 12px solid;
}

.preview__subtitle {
    font-weight: bold;
    font-size: 32px;
    line-height: 38px;
    display: block;
}

.preview__subtitle-pink {
    color: var(--pink);
}
/* PREVIEW END */

/* SALES */
.sales {
    padding: 65px 0 96px;
}

.sales__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sales__item {
    position: relative;
    flex-grow: 1;
    padding: 105px 0;
}

.sales-item:nth-child(2) {
    margin: 0 30px;
}

.sales-item:last-child {
    margin-top: 30px;
    padding: 65px 0;
}

/* .sales__item::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--brown);
    opacity: 0.7;
    z-index: 1;
} */

.sales-item {}

.sales-item--women {
    background-image: url(../img/sale-women.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sales-item--men {
    background-image: url(../img/sale-men.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sales-item--kids {
    background-image: url(../img/sale-kids.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.sales-item--accesories {
    background-image: url(../img/sale-accesories.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    width: 100%;
}

.sales-item__text {
    text-align: center;
    color: var(--white);
    text-transform: uppercase;
    font-size: 16px;
    line-height: 19px;
}

.sales-item__title {
    text-align: center;
    text-transform: uppercase;
    color: var(--pink);
    font-size: 24px;
    line-height: 29px;
}
/* SALES END */

/* PRODUCT */
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 0 96px 0;
}

.product__title {
    font-size: 30px;
    line-height: 36px;
    text-transform: capitalize;
}

.product__text {
    font-size: 14px;
    line-height: 17px;
    color: var(--grey);
}

.product__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 18px 0 48px;
}

.product__item {
    background-color: var(--light-grey);
    max-width: 360px;
    margin: 30px 0 0;
}

.product-item {}

.product-item__img {
    width: 100%;
}

.product-item__wrp {
    padding: 20px 16px;
}

.product-item__title {
    font-size: 13px;
    line-height: 16px;
    text-transform: uppercase;
    color: var(--dark-black);
}

.product-item__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--dark-grey);
    margin: 12px 0 18px;
}

.product-item__price {
    font-size: 16px;
    line-height: 19px;
    color: var(--pink);
}

.product-item__price::before {
    content: '$';
}

.product__link {
    font-size: 16px;
    line-height: 19px;
    text-transform: capitalize;
    text-decoration: none;
    border: 1px solid var(--light-red);
    color: var(--pink);
    padding: 16px 40px;
    transition: 0.3s;
}

.product__link:hover {
    background-color: var(--pink);
    color: var(--white);
}
/* PRODUCT END */

/* BENEFITS */
.benefits {
    background-color: var(--black);
    padding: 104px 0;
}

.benefits__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.benefits__item {
    text-align: center;
    max-width: 360px;
}

.benefits-item {}

.benefits-item__img {}

.benefits-item__title {
    font-weight: normal;
    font-size: 20px;
    line-height: 24px;
    color: var(--light-grey);
    text-transform: capitalize;
    padding: 19px 0 16px 0;
}

.benefits-item__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: var(--light-grey);
}
/* BENEFITS END */

/* FOOTER */
.footer {}

.footer__content {
    background-image: url(../img/footer-bkg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    padding: 97px;
}

.footer-content {}

.footer-content__wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-content__review {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-review {}

.footer-review__img {}

.footer-review__quote {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    max-width: 360px;
    padding: 30px 0 0 0;
}

.footer__subscribe {
    text-align: center;
}

.footer-subscribe {}

.footer-subscribe__title {
    font-weight: bold;
    font-size: 24px;
    line-height: 40px;
    text-transform: uppercase;
}

.footer-subscribe__text {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    padding: 0 0 32px;
}

.footer-subscribe__form {
    display: flex;
}

.subscribe-form {}

.subscribe-form__input {
    background-color: var(--grey-input);
    border-radius: 40px 0 0 40px;
    border: transparent;
    text-transform: capitalize;
    padding: 16px 0 16px 22px;
    width: 100%;
}

.subscribe-form__btn {
    background-color: var(--pink);
    color: var(--white);
    border-radius: 0 40px 40px 0;
    border: transparent;
    text-transform: capitalize;
    padding: 16px 20px 16px;
}

.footer__social {
    background-color: var(--black);
    padding: 24px 0;
}

.footer-social {}

.footer-social-wrp {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-social__rights {
    font-size: 16px;
    line-height: 19px;
    color: var(--light-grey);
}

.footer-social__list {
    display: flex;
    max-width: 148px;
    justify-content: space-between;
    flex-grow: 1;
}

.footer-social__link {}
/* FOOTER END */