@mixin flex-justify ($justC: space-between) {
    display: flex;
    justify-content: $justC;
}

@mixin sales-bg ($url){
    background-image: $url;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@mixin tablet {
    @media (max-width: $tablet-size){
        @content;
    }
}

@mixin mobile {
    @media (max-width: $mobile-size){
        @content;
    }
}