:root {
    --dark-black: #000000;
    --black: #222222;
    --pink-bkg: #F1E4E6;
    --pink: #F16D7F;
    --brown: #211616;
    --white: #FFFFFF;
    --light-grey: #F8F8F8;
    --grey: #9F9F9F;
    --light-red: #FF6A6A;
    --dark-grey: #5D5D5D;
    --grey-input: #E1E1E1;
    --subscribe-dark: #E05C6E;
}

$tablet-size: 768px;
$mobile-size: 375px;