.product-item {
    &__img {
        width: 100%;
    }

    &__overlay {
        min-width: 360px;
        min-height: 420px;
        background-color: var(--dark-grey);
        opacity: 86%;
        position: absolute;
        top: 0;
        display: none;
    }

    &__wrp {
        padding: 20px 16px;
    }

    &__title {
        font-size: 13px;
        line-height: 16px;
        text-transform: uppercase;
        color: var(--dark-black);
    }

    &__text {
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        color: var(--dark-grey);
        margin: 12px 0 18px;
    }

    &__price {
        font-size: 16px;
        line-height: 19px;
        color: var(--pink);

        &::before{
            content: '$';
        }
    }
}

.product-item-overlay {
    &__btn {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 138px;
        height: 43px;
        transform: translate(-50%, -50%);
        background: url(../img/card-cart.svg);
        background-position: left;
        background-repeat: no-repeat;
        border: 2px solid var(--white);
        padding: 14px 16px;
        font-weight: 400;
        line-height: 17px;
        text-align: end;
        color: var(--white);
        display: block;

        &:hover{
            opacity: 75%;
        }
    }
}